h1{
    font-family:Arial;
}
h2,label{
    font-family:sans-serif;
}
p{
    font-family:helvetica;
}
body{
    background-color:whitesmoke;
}
.tituloinfo{
    position:fixed;
    left: 85%;
    font-size:40px;
}

.baixo{
    margin-top:40%;
}
.centralizar{
    text-align: center;
}
.centralizartable{
    background-color:black;
    color:white;
    display: flex;
    justify-content: center;
}
.titulotabela{
    font-size:40px;
    color: darkgray;
}
.link{
    color: green;
}
  .mg-0 {
    margin: 0;
  }
  .mt-2 {
    margin-top: 1em;
  }
  .container_periodo {
    border: 1px solid #c6c8ca;
    border-radius: 3px;
    padding: 0.25em;
  }
  .form-control-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    height: 2em;
  }


/* Fonte:


    */
